<header
  class="fixed z-10 top-0 left-0 w-full  py-1 sm:py-2 md:py-4 bg-blue1 font-mainFont font-medium tracking-wide text-blue-300 uppercase flex justify-center border-b-2 rounded-full border-indigo-500/75 shadow-lg shadow-indigo-500/50">
  <!-- Container -->

  <!-- Menu -->
  <nav class="h-4 md:h-16 flex justify-center items-center">
    <!-- left-side -->
    <div
      class="p-0 md:p-2 h-6 md:h-12 gap-2 sm:gap-8 md:gap-12 border-y text-sms md:text-base rounded-md border-indigo-500/75 hover:scale-95 flex justify-center items-center transition duration-500">
      <a class=" p-1 sm:p-2 whitespace-nowrap hover:text-cyan-200 hover:scale-x-110 md:underline-offset-4 transition duration-500"
        routerLink="about">About me</a>
      <a class=" p-1 sm:p-2 hover:text-cyan-200 hover:scale-x-105 transition duration-500"
        routerLink="experience">Experience</a>

    </div>

    <!-- Logo -->
    <a routerLink="home">
      <img class="  w-6 h-6 sm:w-10 sm:h-10  md:h-16 md:w-16 lg:h-20 lg:w-20 hover:scale-110 transition duration-500"
        src="assets/images/logo.svg">
    </a>

    <!-- Right-side -->
    <div
      class="p-0 md:p-2 h-6 md:h-12 gap-2 sm:gap-8 md:gap-12 border-y text-sms md:text-base rounded-md border-indigo-500/75 hover:scale-95 flex justify-center items-center transition duration-1000">
      <a class=" p-1 sm:p-2 hover:text-cyan-200 hover:scale-x-105 md:underline-offset-4 transition duration-500"
        routerLink="projects">Projects</a>
      <a class=" p-1 sm:p-2 whitespace-nowrap hover:text-cyan-200 hover:scale-x-110 md:underline-offset-4 transition duration-500"
        routerLink="contact">Contact me</a>
    </div>
  </nav>

</header>