<!-- Header -->
<header
    class=" py-1 sm:py-2 md:py-4 bg-blue1 font-mainFont font-medium tracking-wide text-cyan-400 uppercase  flex justify-center border-b-2 rounded-full border-indigo-500/75  shadow-lg shadow-indigo-500/50">
    <!-- Container -->
    <div class="container mx-24 p-2 border-b border-t rounded-full border-indigo-500/75 shadow-lg  justify-between">
        <!-- Menu -->
        <nav class=" h-4 px-14 md:px-12  md:h-16 flex justify-center items-center  ">
            <!-- left-side -->
            <div
                class="p-0 md:p-2 h-6  md:h-12 gap-1 ms:gap-2 md:gap-8 border-y rounded-md border-indigo-500/75 hover:scale-95 flex justify-center items-center    transition duration-1000">
                <a class="   text-xs   md:text-base   p-1   hover:text-cyan-200 hover:scale-x-110  transition duration-500"
                    routerLink="experience">Experience</a>
                <a class="   text-xs   md:text-base   p-1  hover:text-cyan-200  hover:scale-x-110  md:underline-offset-4 transition duration-500"
                    routerLink="projects">Projects</a>
            </div>
            <!-- Logo -->
            <a routerLink="home">
                <img class="h-6 w-6  sm:h-8 sm:w-8  md:h-14 md:w-14" src="assets/images/logo.svg">
            </a>



            <!-- Right-side -->
            <div
                class="p-0  md:p-2 h-6  md:h-12 gap-1 ms:gap-2 md:gap-8  border-y rounded-md border-indigo-500/75 hover:scale-95 flex justify-center items-center   transition duration-1000">
                <a class="text-xs   md:text-base  p-1 whitespace-nowrap hover:text-cyan-200  hover:scale-x-110   md:underline-offset-4 transition duration-500 "
                    routerLink="about">About me</a>
                <a class="text-xs   md:text-base  p-1 whitespace-nowrap hover:text-cyan-200  hover:scale-x-110   md:underline-offset-4 transition duration-500 "
                    routerLink="contact">Contact me</a>
            </div>
        </nav>
    </div>
</header>