<!-- experience container -->
<div class="container w-screen min-h-screen font-mainFont text-blue-300 font-medium  bg-gradient-to-t from-blue2 to-blue1 to-80%">
    <!-- row 1  -->
    <div class="flex justify-center  ">

        <!-- experience-block-1 -->
        <div
            class="mt-36  grid grid-cols-1 gap-4 border-x-2 rounded-xl  border-indigo-500/75  brightness-125 h-auto w-auto p-2 hover:scale-105 transition duration-1000  ">
            <h1 class="col-span-4 flex justify-center text-2xl ">Experince and skills</h1>
            <h2 class="col-span-4 flex justify-center text-xl font-medium">Based FrontEnd developer Skills</h2>
            <div class="" class="p-4 flex items-center "><img src="assets/images/html.svg">
                <h1 class="ml-1">HTML</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/css.svg">
                <h1 class="ml-1">CSS</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/javascript.svg">
                <h1 class="ml-1">JavaScript</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/typescript.svg">
                <h1 class="ml-1">TypeScript</h1>
            </div>
        </div>
    </div>
    <!-- row 2 -->
    <div class="flex justify-center  ">
        <!-- experience-block-2 -->
        <div
            class=" grid  grid-cols-1 gap-4 border-x-2 rounded-xl  border-indigo-500/75  brightness-125 h-auto w-auto p-2 hover:scale-105 transition duration-1000 ">
            <h2 class="col-span-4 flex justify-center text-xl">JAVASCRIPT AND CSS FRAMEWORKS</h2>
            <div class="" class="p-4 flex items-center "><img src="assets/images/bootstrap.svg">
                <h1 class="ml-1">Bootstrap</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/angular.svg">
                <h1 class="ml-1">Angular</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/tailwind.svg">
                <h1 class="ml-1">Tailwindcss</h1>
            </div>

        </div>
    </div>
    <!-- row 3 -->
    <div class="flex justify-center  ">
        <!-- experience-block-3 -->
        <div
            class=" grid grid-cols-1 gap-4 border-x-2 rounded-xl  border-indigo-500/75 brightness-125 h-auto w-auto p-2 hover:scale-105 transition duration-1000 ">
            <h2 class="col-span-4 flex justify-center text-xl">Also ability work with:</h2>
            <div class="" class="p-4 flex items-center "><img src="assets/images/figma.svg">
                <h1 class="ml-1">Figma</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/github-skill.svg">
                <h1 class="ml-1">Github</h1>
            </div>
            <div class="" class="p-4 flex items-center "><img src="assets/images/npm-icon.svg">
                <h1 class="ml-1">npm</h1>
            </div>


        </div>
    </div>
</div>