<!-- experience container -->
<div
    class="container  w-screen min-h-screen font-mainFont text-blue-300 font-medium  bg-gradient-to-t from-blue2 to-blue1 to-80% relative overflow-hidden  ">

    <!-- row 1  -->
    <div class="flex justify-center w-screen  ">

        <!-- experience-block-1 -->
        <div
            class=" h-auto w-auto p-2  mt-12 md:mt-36  gap-1 sm:gap-2 md:gap-4  grid grid-cols-1 border-x-2 rounded-xl  border-indigo-500/75  brightness-125  hover:scale-105 transition duration-1000  ">
            <h1 class="col-span-4 flex justify-center text-base sm:text-xl md:text-2xl font-medium ">Experince and
                skills</h1>
            <h2 class="col-span-4 flex justify-center text-sm  sm:text-base md:text-xl font-medium">Based FrontEnd
                developer Skills
            </h2>
            <div class=" p-1 sm:p-2 md:p-4 flex items-center "><img class="h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/html.svg">
                <h1 class="text-sms sm:text-sm md:text-xl  ml-1">HTML</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class="h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/css.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">CSS</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/javascript.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">JavaScript</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/typescript.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">TypeScript</h1>
            </div>
        </div>
    </div>
    <!-- row 2 -->
    <div class="flex justify-center  w-screen">
        <!-- experience-block-2 -->
        <div
            class="h-auto w-auto p-2 gap-1 sm:gap-2 md:gap-4  grid grid-cols-1 border-x-2 rounded-xl  border-indigo-500/75  brightness-125  hover:scale-105 transition duration-1000 ">
            <h2 class="col-span-4 flex justify-center  text-base sm:text-xl md:text-2xl font-medium">Javascript and CSS
                frameworks
            </h2>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/bootstrap.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">Bootstrap</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/angular.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">Angular</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/tailwind.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">Tailwindcss</h1>
            </div>

        </div>
    </div>
    <!-- row 3 -->
    <div class="flex justify-center w-screen ">
        <!-- experience-block-3 -->
        <div
            class=" h-auto w-auto p-2 gap-1 sm:gap-2 md:gap-4  grid grid-cols-1 border-x-2 rounded-xl  border-indigo-500/75  brightness-125  hover:scale-105 transition duration-1000 ">
            <h2 class="col-span-4 flex justify-center text-base sm:text-xl md:text-2xl font-medium">Also ability work
                with:</h2>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/figma.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">Figma</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class=" h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/github-skill.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">Github</h1>
            </div>
            <div class="p-1 sm:p-2 md:p-4 flex items-center "><img class="h-5 w-5 sm:h-6 sm:w-6  md:h-max md:w-max"
                    src="assets/images/npm-icon.svg">
                <h1 class="text-sms sm:text-sm md:text-xl ml-1">npm</h1>
            </div>


        </div>
    </div>
</div>