<!-- Home Page -->
<div class=" gap-0 lg:gap-2 container w-auto h-auto  text-white1  flex grid-cols-2   ">
  <!-- left-side -->
  <div class="m-1 flex-1 h-auto">
    <!-- paragraphs and icons -->
    <div class=" md:w[320px] md:h[460px] mdx:w-[460px] mdx:h-[540px]   ml-16 mt-36 p-2 font-mainFont text-blue-300 ">
      <!-- name and surname -->
      <h1 class="text-lg md:text-2xl lg:text-3xl text-left font-medium md:font-semibold mb-3">Hi, I'm Mobil Mustafayev</h1>
      
      <!-- profession -->
      <h2 class="text-lg md:text-2xl lg:text-3xl font-medium md:font-semibold flex mb-1">an <img class="ml-1" src="assets/images/angular.svg">ngular Developer
      </h2>
      
      <!-- text -->
      <p class="text-sm md:text-lg font-normal  md:font-medium tracking-wide text-justify">
        Lorem ipsum dolor sit amet consectetur
        , adipisicing elit
        . Iste nisi vero mollitia in. Al
        ias nulla vero culpa! Qui quod nobis architecto, iste labo
        re eligendi, quaerat quia molestiae ullam placeat sapiente.
        Lorem ipsum dolor sit amet consectetur
        , adipisicing elit
        . Iste nisi vero mollitia in. Al
        ias nulla vero culpa! Qui quod nobis architecto, iste labo
        re eligendi, quaerat quia molestiae ullam placeat sapiente.
      </p>
      <!-- Links -->
      <div class=" m-1 md:m-2 w-44 md:w-56 lg:w-64 p-2  text-sm md:text-base flex justify-end items-end gap-1 lg:gap-2 whitespace-nowrap">
        <a class=" ml-1 p-1 md:p-2 flex-1 border-y-2 rounded-2xl  border-indigo-500/75 shadow-lg brightness-125 hover:shadow-indigo-500/50 hover:scale-105 transition duration-500 "
          href="">Download CV</a>
        <a class=" ml-1 p-1 md:p-2 flex-1 border-y-2 rounded-2xl  border-indigo-500/75 shadow-lg brightness-125 hover:shadow-indigo-500/50 hover:scale-105 transition duration-500"
          href="">Contact  me</a>
      </div>
      <!-- social media icons-->
      <div class="m-0 md:m-2 p-1 md:p-4 flex gap-3 md:gap-6 justify-start items-center">
        <a class="w-10 h-10 p-1 border-1 rounded-full flex items-center justify-center border-indigo-500/75 shadow-lg brightness-125 shadow-indigo-500/50 hover:scale-110 transition duration-500"
          href="#">
          <img class="w-full h-full rounded-lg " src="assets/images/linkedin.svg" alt="My Icon">
        </a>
        <a class="w-10 h-10 p-1 border-1 rounded-full flex items-center justify-center border-indigo-500/75 shadow-lg brightness-125 shadow-indigo-500/50 hover:scale-110 transition duration-500"
          href="#">
          <img class="w-full h-full  " src="assets/images/github.svg" alt="My Icon">
        </a>
        <a class="w-10 h-10 p-1 border-1 rounded-full flex items-center justify-center border-indigo-500/75 shadow-lg brightness-125 shadow-indigo-500/50 hover:scale-110 transition duration-500"
          href="#">
          <img class="w-full h-full " src="assets/images/instagram.svg" alt="My Icon">
        </a>
        <a class="w-10 h-10 p-1 border-1 rounded-full flex items-center justify-center border-indigo-500/75 shadow-lg brightness-125 shadow-indigo-500/50 hover:scale-110 transition duration-500"
          href="#">
          <img class="w-full h-full " src="assets/images/gmail.svg" alt="My Icon">
        </a>

      </div>
    </div>
  </div>

  <!-- right-side -->
  <div class=" m-1 flex-1 h-auto ">
      <!-- image -->
      <img class=" ml-4 mt-36  w-full h-auto  opacity-30  object-cover overflow-hidden rounded-full" src="assets/images/homeimg.jpg">
 </div>
  


</div>