<!-- contact container -->
<div
    class="container w-screen min-h-screen font-mainFont text-blue-300 font-medium  bg-gradient-to-t from-blue2 to-blue1 to-80%">
    <!-- row 1  -->
    <div class="flex justify-center  ">
        <!-- form -->
        <form
            class="mt-36 w-auto h-auto border-y-2 border-indigo-500 shadow-xl shadow-indigo-500/50 rounded-2xl grid grid-cols-2 gap-6">
            <!-- header -->
            <h1 class="m-1  leading-8 font-mainFont text-2xl text-center col-span-2 ">CONTACT ME</h1>
            <!-- form content -->
            <!-- input-1 -->
            <div class="h-14 w-72 p-2">
                <input
                    class="h-full w-full bg-colorform border-y-2 rounded-lg border-indigo-700 focus:outline-none focus:ring-2 ring-indigo-500"
                    autocomplete="off" type="text" name="fullName" placeholder=" please enter your full name"
                    #name=ngModel [(ngModel)]="fullName" required>
            </div>
            <!-- input-2 -->
            <div class="h-14 w-72 p-2">
                <input
                    class="h-full w-full bg-colorform   border-y-2 rounded-lg border-indigo-700 focus:outline-none focus:ring-2 ring-indigo-500"
                    autocomplete="off" type="text" name="emailAdress" placeholder=" email adress" #name=ngModel
                    [(ngModel)]="emailAdress" required>
            </div>
            <!-- input-3 -->
            <div class="h-14 w-72 p-2">
                <input
                    class="h-full w-full bg-colorform border-y-2 rounded-lg border-indigo-700 focus:outline-none focus:ring-2 ring-indigo-500"
                    autocomplete="off" type="text" name="mobileNumber" placeholder=" mobile number" #name=ngModel
                    [(ngModel)]="mobileNumber" required>
            </div>
            <!-- input-4 -->
            <div class="h-14 w-72 p-2">
                <input
                    class="h-full w-full bg-colorform border-y-2 rounded-lg border-indigo-700 focus:outline-none focus:ring-2 ring-indigo-500"
                    autocomplete="off" type="text" name="emailSubject" placeholder=" email subject" #name=ngModel
                    [(ngModel)]="emailSubject" required>
            </div>
            <!-- input-5 -->
            <div class="h-20 w-auto p-2 col-span-2 z-10  ">
                <textarea id="about" name="about" rows="3" autocomplete="off" placeholder=" your message"
                    #name="ngModel" [(ngModel)]="emailMessage"
                    class=" w-full py-1.5 bg-colorform border-y-2 rounded-lg border-indigo-700 focus:outline-none focus:ring-2 ring-indigo-500  "></textarea>
            </div>
            <!-- button -->
            <div class="h-10 w-auto p-1 m-2 text-center whitespace-nowrap col-span-2  ">
                <button
                    class="h-auto w-auto border rounded-lg border-indigo-600 shadow-sm hover:shadow-indigo-500 focus:ring-2  m-1 p-1"
                    type="submit">Send message </button>
            </div>



        </form>




    </div>



</div>